<head>
    <title>TurboBowl</title>
    <script src="/static/js/lib/jquery.min.js"></script>
    <script src="/static/js/lib/popper.min.js"></script>
    <script src="/static/js/lib/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/lib/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/img/static/favicon/site.webmanifest">
    <link rel="mask-icon" href="/static/img/static/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#404053">
    <meta name="theme-color" content="#ffffff">
    <meta charset="utf-8">
</head>
